@model RAS.Bootcamp.MVC.NET.Models.Entity.Pembeli
@{
    ViewData["Title"] = "Edit Data Pembeli";
}

<h1 style="text-align:center;">@ViewData["Title"] </h1>

<form action = "EditPembeli" method = "post">
  <div class="mb-3">
    <label for="" class="form-label">Nama Pembeli</label>
    <input class="form-control" id="namapembeli" asp-for="NamaPembeli" value= "@Model.NamaPembeli">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Alamat Pembeli</label>
    <input class="form-control" id="alamatpembeli" asp-for="AlamatPembeli" value= "@Model.AlamatPembeli" >
  </div>
  <div class="mb-3">
    <label for="" class="form-label">No HP Pembeli</label>
    <input class="form-control" id="nohppembeli" asp-for="NoHP" value = "@Model.NoHP" >
  </div>
  <input type="hidden" asp-for="Id"></input>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
