@model RAS.Bootcamp.MVC.NET.Models.Entity.Penjual
@{
    ViewData["Title"] = "Input Penjual";
}

<h1 style="text-align:center;">@ViewData["Title"] </h1>

<form action="InputPenjual" method = "post">
  <div class="mb-3">
    <label for="" class="form-label">Nama Toko</label>
    <input class="form-control" id="namatoko" asp-for="NamaToko">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Alamat Toko</label>
    <input class="form-control" id="alamat" asp-for="Alamat" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
